body {
  margin: 0;
  padding: 0;
}

#main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 80%;
  text-align: center;
}

.minesweeper {
  border: 1rem solid #222222;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #222222;
}

#wrapper {
  display: inline-block;
}

.board {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  box-sizing: border-box;
}

.opened_cell {
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid #222222;
  border-radius: 0.3rem;
  box-sizing: border-box;
  background-color: #525252;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.closed_cell {
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid #222222;
  border-radius: 0.3rem;
  box-sizing: border-box;
  background-color: #87ceeb;
  user-select: none;
}

.hasMine_cell {
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid #222222;
  border-radius: 0.3rem;
  box-sizing: border-box;
  background-color: #f7343d;
  user-select: none;
}

.hasFlag_cell {
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid #222222;
  border-radius: 0.3rem;
  box-sizing: border-box;
  background-color: #1ed637;
  user-select: none;
}

.status_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
}

.timer, .flag_counter{
  font-weight: medium;
  text-align: center center;
  width: 2.7rem;
  height: 1.6rem;
  border-radius: 0.2rem;
  background-color: #ffffff;
  user-select: none;
}

.reset_button {
  width: 1.5rem;
  height: 1.5rem;
  mask: url("restart.svg") no-repeat center center;
  color: #ffffff;
}

.option_button {
  width: 1.5rem;
  height: 1.5rem;
  mask: url("option.svg") no-repeat center center;
  color: #ffffff;
}

.form-hide {
  width: 10rem;
  transform: scale(0);
  transform-origin: top left;
  transition: transform 0.2s;
  margin-top: 0.5rem;
  padding: 0.3rem;
  color: #ffffff;
  background-color: #383838;
  position: absolute;
  border-radius: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  user-select: none;
}

.form-show {
  width: 10rem;
  transform: scale(1);
  transform-origin: top left;
  transition: transform 0.2s;
  margin-top: 0.5rem;
  padding: 0.6rem;
  color: #ffffff;
  background-color: #383838;
  position: absolute;
  border-radius: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  user-select: none;
}

.submit_radio {
  margin-top: 0.5rem;
  font-weight: 600;
  border-radius: 0.5rem;
  border: 0.1rem solid #ffffff
}

.message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
  color: #ffffff;
  user-select: none;
}